body{
	background-color: #fff;
}

/*#############################################################################################################################################################*/
/*																		Login																													*/					
/*#############################################################################################################################################################*/

.pagina{
	margin: 0 auto;

	width: 50%;
	border:1px solid gray;
	border-radius: 10px 10px 0px 0px;
}

.titulo{
	background: black;
	border:1px solid black;
	border-radius: 10px 10px 0px 0px;
}

#titulo_l{
	font-size: 30px;
	text-align: center;
	color: white;
}

.conteudo_login{
	margin-left: 4%;

}

#botao{
	margin-top:1%; 
	margin-left: 7%;

}




/*############################################################################################################/*																																		                                                Cadastro																													
/*############################################################################################################/*
